$def with (projectssss)

<!-- <div class="jumbotron text-center" style="margin-bottom:0"> -->
  <!-- <h1>KH-wcs系统</h1> -->
<!-- </div> -->
 
<!-- <nav class="navbar navbar-inverse"> -->
	<!-- <div class="container-fluid"> -->
		<!-- <div class="navbar-header"> -->
			<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> -->
				<!-- <span class="icon-bar"></span> -->
				<!-- <span class="icon-bar"></span> -->
				<!-- <span class="icon-bar"></span>                         -->
			<!-- </button> -->
			<!-- <a class="navbar-brand" href="#">网站名</a> -->
		<!-- </div> -->
		<!-- <div class="collapse navbar-collapse" id="myNavbar"> -->
			<!-- <ul class="nav navbar-nav"> -->
				<!-- <li class="active"><a href="#">主页</a></li> -->
				<!-- <li><a href="#">页面 2</a></li> -->
				<!-- <li><a href="#">页面 3</a></li> -->
			<!-- </ul> -->
		<!-- </div> -->
	 <!-- </div> -->
<!-- </nav> -->
 
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3><a href="/materialCategory">商品类别</a></h3>
		</div>
		<div class="col-sm-4">
			<h3><a href="/material">商品信息</a></h3>
		</div>
		<div class="col-sm-4">
			<h3><a href="/project">项目总览</a></h3>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<h3><a href="/storageInfo">库存信息</a></h3>
		</div>
		<div class="col-sm-4">
			<h3><a href="/inStorage">入库信息</a></h3>
		</div>
		<div class="col-sm-4">
			<h3><a href="/outStorage">出库信息</a></h3>
		</div>
	</div>
</div>
 
<div class="jumbotron text-center" style="margin-bottom:0">
	<p>底部内容</p>
</div>