$def with (projectssss)

<div class="container">
	<div class="row" style="height:20%"></div>
	<div class="row">
		<div class="col-sm-4" style="text-align:center">
			<a href="/materialCategory">
				<img src="https://cdn-icons-png.flaticon.com/512/1731/1731773.png" width="120px"  alt="商品类别">
				<br><h4>商品类别</h4>
			</a>
		</div>
		<div class="col-sm-4" style="text-align:center">
			<a href="/material">
				<img src="https://cdn-icons-png.flaticon.com/512/1675/1675276.png" width="120px"  alt="商品类别">
				<br><h4>商品信息</h4>
			</a>
		</div>
		<div class="col-sm-4" style="text-align:center">
			<a href="/project">
				<img src="https://cdn-icons-png.flaticon.com/512/3720/3720758.png" width="120px"  alt="项目总览">
				<br><h4>项目总览</h4>
			</a>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-sm-4" style="text-align:center">
			<a href="/storageInfo">
				<img src="https://cdn-icons-png.flaticon.com/512/1683/1683683.png" width="120px"  alt="库存信息">
				<br><h4>库存信息</h4>
			</a>
		</div>
		<div class="col-sm-4" style="text-align:center">
			<a href="/inStorage">
				<img src="https://cdn-icons-png.flaticon.com/512/3277/3277717.png" width="120px" alt="入库信息">
				<br><h4>入库信息</h4></a>
		</div>
		<div class="col-sm-4" style="text-align:center">
			<a href="/outStorage">
				<img src="https://cdn-icons-png.flaticon.com/512/3449/3449649.png" width="120px"  alt="出库信息">
				<br><h4>出库信息</h4>
			</a>
		</div>
	</div>
</div>
