$def with (outStorageLogs)

<div class="container">
	<div class="jumbotron">
		<img src="https://cdn-icons-png.flaticon.com/512/1753/1753926.png" width="80px"  alt="出库日志"><h1  style="display : inline;vertical-align: middle">		出库日志</h1>
	</div>
	<div class="pull-right" id="query-form" style="padding-bottom:10px;">
		<div style="float:left;margin-right:5px;height:40px">
			<select id="storageType" >
				<option>全部</option>
				<option>自动化</option>
				<option>智能</option>
			</select>
		</div>
		<div style="float:left;margin-right:5px;height:40px">
			<select id="datetime" >
				<option>本月</option>
				<option>全部</option>
			</select>
		</div>
		<div class="btn-group">
			<button id="btn_filter"  type="button" class="btn btn-primary btn-space" >
				筛选
			</button>
			<button id="btn_export"  type="button" class="btn btn-primary btn-space" >
				导出
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div id="project" class="bs-example">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>编号</th>
							<th>申领项目</th>
							<th>申领仓库</th>
							<th>实际仓库</th>
							<th>类别名称</th>
							<th>商品名称</th>
							<th>商品单位</th>
							<th>出库数量</th>
							<th>出库单价</th>
							<th>发票类型</th>
							<th>税率</th>
							<th>出库总价</th>
							<th>含税总价</th>
							<th>操作时间</th>
						</tr>
					</thead>
					<tbody id="logTbody">
						$for log in outStorageLogs:
							<tr>
								<td>$log.id</td>
								<td>$log.project</td>
								<td>$log.apply_storage</td>
								<td>$log.storage_name</td>
								<td>$log.category_name</td>
								<td>$log.name</td>
								<td>$log.unit</td>
								<td>$log.count</td>
								<td>$log.price</td>
								<td>$log.invoice_type</td>
								<td>$log.tax_rate</td>
								<td>$log.total_price</td>
								<td>$log.tax_price</td>
								<td>$log.create_time</td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>


<script type="text/javascript">
	$$('#btn_export').click(function(){
		var storageType = document.getElementById("storageType").value;
		var datetime= document.getElementById("datetime").value;
		
		var myDate = new Date((new Date).getTime() + 8*60*60*1000);
		var time = myDate.toJSON().split('T').join(' ').substr(0,10); // 将1970/08/08转化成1970-08-08并取前10个
		
		if (storageType=="全部"){
			filename="总库";
		}
		else if (storageType=="自动化"){
			filename="自动化仓库";
		}
		else{
			filename="智能仓库";
		}
		
		filename = filename + datetime + "出库日志-" + time;
		
		$$.ajax({
			type: "POST",
			url: "/storageLogExport",
			data: JSON.stringify({type:"out",storage:storageType,datetime:datetime,fileName:filename})
			}).done(function( msg ) {
				msgJson=JSON.parse(msg);
				alert(msgJson);
			});
	
	});

	$$('#btn_filter').click(function(){
		var storageType = document.getElementById("storageType").value;
		var datetime = document.getElementById("datetime").value;

		$$.ajax({
			type: "POST",
			url: "/storageLogfilter",

			data: JSON.stringify({type:"out",storage:storageType,datetime:datetime})
			}).done(function( msg ) {
				msgJson=JSON.parse(msg);

				var logs = msgJson["filter_log"];
				var number = logs.length;

				//获得显示日志信息的表格 并根据条件筛选更新表格
				var tableLog = document.getElementById("logTbody");

				while (tableLog.hasChildNodes()) {
				  tableLog.removeChild(tableLog.lastChild);
				}

				for( var i = 0 ; i < number ; i++ )
				{

					var tr = tableLog.insertRow(-1);		//在最后增加一行

					var tdId = tr.insertCell(-1);	//在最后增加一列
					tdId.innerHTML = logs[i].id;
					
					var tdProject = tr.insertCell(-1);
					tdProject.innerHTML = logs[i].project;
					
					var tdApplyStorage = tr.insertCell(-1);
					tdApplyStorage.innerHTML = logs[i].apply_storage;

					var tdStorageName = tr.insertCell(-1);
					tdStorageName.innerHTML = logs[i].storage_name;

					var tdCategoryName = tr.insertCell(-1);
					tdCategoryName.innerHTML = logs[i].category_name;

					var tdName = tr.insertCell(-1);
					tdName.innerHTML = logs[i].name;

					var tdUnit = tr.insertCell(-1);
					tdUnit.innerHTML = logs[i].unit;

					var tdCount = tr.insertCell(-1);
					tdCount.innerHTML = logs[i].count;

					var tdCount = tr.insertCell(-1);
					tdCount.innerHTML = logs[i].price;

					var tdInvoice = tr.insertCell(-1);
					tdInvoice.innerHTML = logs[i].invoice_type;

					var tdTax = tr.insertCell(-1);
					var value = Number(logs[i].tax_rate*100).toFixed()
					tdTax.innerHTML = value+"%";

					var tdTotalPrice = tr.insertCell(-1);
					tdTotalPrice.innerHTML = logs[i].total_price;

					var tdTaxPrice = tr.insertCell(-1);
					tdTaxPrice.innerHTML = logs[i].tax_price;

					var tdTime = tr.insertCell(-1);
					tdTime.innerHTML = logs[i].create_time;

				}

			});
	
	});
	
</script> 

