$def with (projects)


<div class="container">
	<div class="jumbotron">
		<img src="https://cdn-icons-png.flaticon.com/512/3720/3720758.png" width="80px"  alt="项目总览"><h1  style="display : inline;vertical-align: middle">		项目总览</h1>
	</div>
	
  
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="project" class="bs-example">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>编号</th>
								<th>项目编号</th>
								<th>项目名称</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							$for project in projects:
								<tr>
									<td>$project.id</td>
									<td class="projectId">$project.project_id</td>
									<td class="projectName">$project.name</td>
									<td>
										<button class="btn btn-success" data-toggle="modal" data-target="#projectDetails" onclick="getDetails(this)" >详情</button>
									</td>
								</tr>
							<tr bgcolor="#F5F5F5">
								<td style="font-weight: bold;">新增项目</td>
								<td><input id="project_number" type="text"></td>
								<td><input id="project_name" type="text"></td>
								<td><button type="button" class="btn btn-primary " onclick="NewProject()">提交</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- 项目详情模态框（Modal） -->
	<div class="modal fade" id="projectDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h3 class="modal-title" id="materialTitle">详情</h3>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>项目名称</th>
								<th>仓库</th>
								<th>商品编号</th>
								<th>商品名称</th>
								<th>出库数量</th>
								<th>出库时间</th>
							</tr>
						</thead>
						<tbody id="detailsTable">
						
						
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
				</div>
			</div>
		</div>
	</div>

</div>


<script type="text/javascript">

	function NewProject(){
		var project_name=document.getElementById("project_name").value;
        var project_number=document.getElementById("project_number").value;
        if(project_name==""||project_number==""){
            alert("请先输入项目信息")
        }else{
        // AJAX request
        $$.ajax({
			type: "POST",
			url: "/project",
			data: 'id='+project_number+'&name='+project_name
			}).done(function( msg ) {
				alert(msg);
				window.location.reload(true);
			});
		}
	}

	function getDetails(val){
		
		var id=$$(val).parent().parent().find(".projectId").text();
		var name=$$(val).parent().parent().find(".projectName").text();
		var tableDetails = document.getElementById("detailsTable");
		
		$$.ajax({
			type: "POST",
			url: "/projecInfo",
			data: JSON.stringify({projectName:name})
			}).done(function( msg ) {
				msgJson=JSON.parse(msg);
				
				//模态框 清除信息
				while (tableDetails.hasChildNodes()) {
				  tableDetails.removeChild(tableDetails.lastChild);
				}
					
				status = msgJson["status"];
				
				if(status=="FAIL"){
				
					//alert("未获取到当前项目的申领记录！");
					//return;
				}
				else{
				
					var material = msgJson["project_material"]
					var number = material.length;
					
					for(var i = 0 ; i < number ; i++ )
					{
						var tr = tableDetails.insertRow(-1);
						
						var tdProjectName = tr.insertCell(-1);
						tdProjectName.innerHTML = name;
						
						var tdStorageName = tr.insertCell(-1);
						tdStorageName.innerHTML = material[i]['storage_name'];
						
						var tdMaterialId = tr.insertCell(-1);
						tdMaterialId.innerHTML = material[i]['material_id'];
						
						var tdMaterialName = tr.insertCell(-1);
						tdMaterialName.innerHTML = material[i]['material_name'];
						
						var tdCount = tr.insertCell(-1);	
						tdCount.innerHTML = material[i]['outcount'];
						
						var tdInTime = tr.insertCell(-1);	
						tdInTime.innerHTML = material[i]['datetime'];

					}
				}
			});
	
	}

</script> 


